.main {
  padding: 6rem;
}

.textarea {
  width: 100%;
  height: 400px;
  margin-top: 1rem;
  resize: none;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: var(--border-radius);
  font-family: var(--font-roboto-mono);
  line-height: 1.5;
  padding: 1rem;
}

.qr_list {
  list-style-type: none;
}

.qr_list_item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.qr_list_item_image {
  margin-right: 1rem;
  border-radius: var(--border-radius);
}